<div class="container" id="login-container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title text-center">
                        <h4>Welcome to PATH Chat Application</h4>
                        <small class="text-muted">Select your nickname and push to join button</small>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nickname" id="txt-nickname">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" id="btn-join-chat">Join Chat</button>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="alert alert-danger d-none login-alert" role="alert"></div>
                </div>
            </div>
        </div>
    </div>
</div>